<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    Listing Events
  </div>

  <div class="panel-body">
    <div class="row top5">
      <div class="col-sm-12">
        <div id="calendar" data-cursor-date="<%= @cursor_date.strftime('%Y-%m-%d') -%>"></div>
      </div>
    </div>
  </div>
</div>
