<p id="notice"><%= notice %></p>

<div id="booking-sources" class="jq-dropdown jq-dropdown-tip">
  <ul class="jq-dropdown-menu">
    <li><a href="#1">Item 3</a></li>
    <li class="jq-dropdown-divider"></li>
    <li><a href="#2">Item 4</a></li>
    <li><a href="#3">Item 5</a></li>
    <li><a href="#4">Item 6</a></li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Listing Events
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="form-inline">
        <div class="col-sm-6">
          <a href="#" data-jq-dropdown="#booking-sources" class="btn btn-default">Workshops</a>
        </div>
      </div>
    </div>

    <div class="row top5">
      <div class="col-sm-12">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
