/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 = require_self
 = require_tree .

 *= require fullcalendar/dist/fullcalendar
 = require jquery-ui

 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker3
 *= require datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css
 *= require datatables-responsive/css/responsive.dataTables.scss
 *= require jquery-simplecolorpicker/jquery.simplecolorpicker
 *= require jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons
 */
@import "font-awesome";
//@import "bootstrap-sprockets";
//@import "bootstrap";

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }